#
# Project:   edgestream-api
# File:      usr/lib/systemd/system/edgestream-backup.timer
# Language:  Python
#
# License:   BUSL-1.1
# Copyright: (c) 2026 HYPERI PTY LIMITED
#

[Unit]
Description=Run EdgeStream backup on a schedule

[Timer]
OnCalendar=hourly
AccuracySec=5m
Persistent=true

[Install]
WantedBy=timers.target
